<% include ./partials/header %>

<h1>Sign Up</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Your username">
    <input type="password" name="password" placeholder="Your password">
    <button>Register</button>
</form>

<% include partials/footer %>
