<% include partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
        <h1 class="display-4">Hello There! It's nice to have you here!</h1>
        <p class="lead">Check out amazing hand-pick places from all over the world!</p>
        <a class="btn btn-lg btn-primary" href="/campgrounds/new">Create a new campground</a>
    </div>
</header>
<div class="row">
    <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
        <div class="card">
           <img class="card-img-top" src="<%= campground.image %>">
           <div class="card-body text-center">
           <h4 class="card-title text-center"> <%= campground.name %> </h4>
           <a href="/campgrounds/new" class="btn btn-primary">Go somewhere</a>
           </div>
           
        </div>
        </div>
    <% }); %>
</div>
</div>

<% include partials/footer %>

